<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/User.css}"></link>
</head>
<body>
	<div class="container">
		<h1>ユーザー情報詳細</h1>
		<div th:object="${userData}">
			<div class="row mx-md-n5">
				<div class="col-2 pt-3 border bg-light">名前</div>
				<div class="col pt-3 border">
					<p th:text="*{name}"></p>
				</div>
			</div>
			<div class="row mx-md-n5">
				<div class="col-2 pt-3 border bg-light">メールアドレス</div>
				<div class="col pt-3 border">
					<p th:text="*{upn}"></p>
				</div>
			</div>
		</div>
		<br />
		<div class="text-center">
			<a th:href="@{/list/{id}/edit(id=*{id})}" class="btn btn-primary">
				編集 </a> <a th:href="@{/list/{id}/delete(id=*{id})}"
				class="btn btn-secondary"> 削除 </a> <a href="/list"
				class="btn btn-secondary">一覧に戻る</a>
		</div>
	</div>
</body>
</html>