.container{
    margin: 0 auto;
    width: 100%
    
}
body {
    background-image: url("https://img.freepik.com/premium-photo/blue-and-pink-color-paper-background_322958-82.jpg?w=996");
    background-size: cover;
 
  }
/**/

